%br
%br
%br
.container.h-100
  .row.align-items-center.h-100
    .col-6.mx-auto
      .jumbotron.text-center
        %h1.display-4 ABZ Software
        %p.lead ZAGGLE cards
        %p.lead
          = link_to 'Admin', admin_root_path, class: 'btn btn-secondary btn-lg'
          = link_to 'Employee', employee_session_path, class: 'btn btn-primary btn-lg'
